root {}


.nav-bar {
    display: flex;
}

.nav-bar a {
    color: #010204;
}

.nav-bar>* {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
    background-color: cornflowerblue;
    flex-basis: 100%;
    text-decoration: none;
}

.nav-bar>*+* {
    border-left: black solid 1px;
}

.nav-bar>*:hover {
    background-color: rgb(79, 79, 224);
    color: #010204;
}

#page-name {
    font-weight: 700;
    font-size: 17px;
}

#page-name:hover {
    color: black;
    background-color: cornflowerblue;
}