* {
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: lightgrey;
}

h2 {
    margin: 0 auto 10% auto;
    text-align: center;
    font-size: xxx-large;
}

p,
p * {
    display: inline-block;
    font-size: xx-large;
}

#auto-complete {
    display: inline-block;
}

#country-input,
.auto-complete-items {
    height: 100%;
    width: 96%;
    display: inline-block;
}

.auto-complete-items {
    background-color: skyblue;
    border: 1px solid black;
}

.auto-complete-items:hover {
    background-color: aqua;
}

.auto-complete-list {
    position: absolute;
}

#submit-button {
    position: relative;
    top: 0px;
}